    body{
        font-family: 'Saira Extra Condensed', serif;
    }
.word{
    background-color: rgb(189,93,56);
}
.home{
    text-align: center;
    color: brown;
}
a{
    text-decoration: none;
    color: brown;
    opacity: .6;
    
}
    a:hover{
        text-decoration: none;
        color: brown;
        opacity: 1;
    }
.btn{
    background-color: brown;
    position: relative;
   left:450px;
}
